


<div class="boxmap" id="map-canvas"></div>
<div class="companyinfo">
<h1> <%= @company.universal_name %> </h1>

  <!-- <p><%= @company.industry %></p>  -->
  <p>Address: <%= @company.location %></p> 
  <p>About us: <%= @company.description %></p>
  <p><img src='<%= @company.logo_url %>'/></p>
  <p><%= @company.website_url %></p>
  <p><%=  @company.email_domains %><a/></p>
  <p>YEAR FOUNDED:<%= @company.founded_year %></p>

</div>
<div class="commentbox">
 
              <h4>Leave a Comment:</h4>
                <textarea class="form-control1" name="body" id="commentBody" rows="3"></textarea>

           
              <button type="submit" id="newcomment" value="comment" class="btn btn-primary">Submit</button>
              <div  id="new-comment">
              </div>
</div>

<script type="text/javascript">
        var newcomment = document.getElementById("newcomment");
      var newCommentForm = document.getElementById("new-comment")
      var newCommentBody = document.getElementById("commentBody")
  
      newcomment.onclick= function(e) {
     var str ="What is your name?";
      var response= window.prompt("What is your name?")

       e.preventDefault();
        var p = document.createElement("div");
        p.className = "comment";
      p.innerText=response + "'s " + "Comment:  "+newCommentBody.value;
      newCommentForm.appendChild(p);
      newCommentForm.reset();

    
  }

    </script>