
<br>
<br>
<h1> List of all Companies and their Information </h1>
<ul>
<% @companies.each do |x| %>

  <li> <%= x.title %></li> 
  <li><%=x.url %></li>
  <li><%=x.location %></li>
  <li><%=x.size %></li>
  <li><%=x.industry %></li>



<br>
<% end %>
</ul>