
<% @parsed_data = [] %>
<% @company_data.map do |x| %>
	<% x.each do |m| %>
	<% @parsed_data << Hash[m, x[1]] %>
	<% end %>
<% end %>
<% @parsed_data.each do |x| %>

<% new_arr = [] %>
	<% if x.has_key?("universal_name") %>
	<% @universal_name = x['universal_name'] %>
	<% end %>
	<% if x.has_key?('description') %>
	<% @description = x['description'] %>
	<% end %>
	<% if x.has_key?('logo_url') %>
	<% @logo_url = x['logo_url'] %>
	<% end %>
	<% if x.has_key?('website_url') %>
	<% @website_url = x['website_url'] %>
	<% end %>
	<% if x.has_key?('email_domains') %>
	<% @email_domains = x['email_domains'] %>
	<% end %>
	<% if x.has_key?('founded_year') %>
	<% @founded_year = x.has_key?('founded_year') %>
	<% end %>
	<% if x.has_key?('industries') %>
	<% @industries = x['industries'][0].to_s %>
	<% end %>
	<% if x.has_key?('locations') %>
	<% @locations = x['locations']%>
	<% end %>
	<% if x.has_key?('num_followers') %>
	<% @num_followers = x['num_followers'] %>
	<% end %>
<% end %>
<h1 class="addname">Add <%= @universal_name %> </h1>
<div class="companyAdd">
<%= form_for @new_company, url: {action: "create"} do |f| %>
  <%= f.label :universal_name, :class => "form-control" %>:
  <%= f.text_field :universal_name, :size => "200x3", :value => @universal_name, :class => "form-control"%><br />

  <%= f.label :description %>:
  <%= f.text_area :description, :size => "200x3", :value =>  @description, :class => "form-control" %><br />

  <%= f.label :logo_url %>:
  <%= f.text_area :logo_url, :size => "200x3", :value => @logo_url, :class => "form-control" %><br />

  <%= f.label :website_url %>:
  <%= f.text_area :website_url, :size => "200x3", :value => @website_url, :class => "form-control" %><br />

  <%= f.label :email_domains %>:
  <%= f.text_area :email_domains, :size => "200x3", :value => @email_domains, :class => "form-control" %><br />

  <%= f.label :founded_year %>:
  <%= f.text_area :founded_year, :size => "200x3", :value => @founded_year, :class => "form-control" %><br />

  <%= f.label :location %>:
  <%= f.text_area :location, :size => "200x3", :value => @locations, :class => "form-control" %><br />

  <%= f.label :num_followers %>:
  <%= f.text_area :num_followers, :size => "200x3", :value => @num_followers, :class => "form-control" %><br />

  <center><%= f.submit %></center>
<% end %>
</div>
