<br>
<br>
<br>
<center><h1>RESULTS</h1></center>
<br>
<br>
<br>
<h4> Please select a Company! </h4>

<% @response.each do |k,v| %>
	<% v.each do |x| %>
	<% i = 0 %>
	<% while i <= x[1].length - 1 %>
	<h5> 
		<%= @name = x[1][i]["headLine"].gsub('<strong>', ' ').gsub('</strong>', ' ') %> 
	</h5>
	<br>
	<img src=" <%= x[1][i]['imageUrl'] %>"/> 
	<%= x[1][i]["subLine"] %>
	<%= @id = x[1][i]["id"] %>
	<br>
	<%= x[1][i]["url"] %>
	<br>
	<%= form_tag("/add", method: "get") do %>
  	<%= label_tag(:id, "Add Company") %>
  	<%= hidden_field_tag(:id,  @id)  %>
  	<%= submit_tag(@name) %>
  		<% i += 1 %>
  			<% end %>
		<% end %>
	<% end %>
<% end %>
